TableFeature                    TXT "resources\TableFeature.txt"
TablePrimaryObject              TXT "resources\TablePrimaryObject.txt"
TableRelatedObject              TXT "resources\TableRelatedObject.txt"
TableLanguage                   TXT "resources\TableLanguage.txt"
TableStringCode                 TXT "resources\TableStringCode.txt"
TableAction0General             TXT "resources\TableAction0General.txt"
TableAction0Trains              TXT "resources\TableAction0Trains.txt"
TableAction0RoadVehs            TXT "resources\TableAction0RoadVehs.txt"
TableAction0Ships               TXT "resources\TableAction0Ships.txt"
TableAction0Aircraft            TXT "resources\TableAction0Aircraft.txt"
TableAction0Stations            TXT "resources\TableAction0Stations.txt"
TableAction0Canals              TXT "resources\TableAction0Canals.txt"
TableAction0Bridges             TXT "resources\TableAction0Bridges.txt"
TableAction0Houses              TXT "resources\TableAction0Houses.txt"
TableAction0Global              TXT "resources\TableAction0Global.txt"
TableAction0IndTiles            TXT "resources\TableAction0IndTiles.txt"
TableAction0Industries          TXT "resources\TableAction0Industries.txt"
TableAction0Cargos              TXT "resources\TableAction0Cargos.txt"
TableAction0Sounds              TXT "resources\TableAction0Sounds.txt"
TableAction0Objects             TXT "resources\TableAction0Objects.txt"
TableAction0RailTypes           TXT "resources\TableAction0RailTypes.txt"
TableAction0AirTiles            TXT "resources\TableAction0AirTiles.txt"
TableVariables                  TXT "resources\TableVariables.txt"
TableVarAction2Operator         TXT "resources\TableVarAction2Operator.txt"
TableVarAction2Vehicles         TXT "resources\TableVarAction2Vehicles.txt"
TableVarAction2Stations         TXT "resources\TableVarAction2Stations.txt"
TableVarAction2Towns            TXT "resources\TableVarAction2Towns.txt"
TableVarAction2Canals           TXT "resources\TableVarAction2Canals.txt"
TableVarAction2Bridges          TXT "resources\TableVarAction2Bridges.txt"
TableVarAction2Houses           TXT "resources\TableVarAction2Houses.txt"
TableVarAction2IndTiles         TXT "resources\TableVarAction2IndTiles.txt"
TableVarAction2Industries       TXT "resources\TableVarAction2Industries.txt"
TableVarAction2Signals          TXT "resources\TableVarAction2Signals.txt"
TableVarAction2Objects          TXT "resources\TableVarAction2Objects.txt"
TableVarAction2RailTypes        TXT "resources\TableVarAction2RailTypes.txt"
TableVarAction2AirTiles         TXT "resources\TableVarAction2AirTiles.txt"
TableRandomAction2Vehicles      TXT "resources\TableRandomAction2Vehicles.txt"
TableRandomAction2Stations      TXT "resources\TableRandomAction2Stations.txt"
TableRandomAction2Houses        TXT "resources\TableRandomAction2Houses.txt"
TableRandomAction2IndTiles      TXT "resources\TableRandomAction2IndTiles.txt"
TableAction5Type                TXT "resources\TableAction5Type.txt"
TableAction79Condition          TXT "resources\TableAction79Condition.txt"
TableActionBMessage             TXT "resources\TableActionBMessage.txt"
TableActionBSeverity            TXT "resources\TableActionBSeverity.txt"
TableActionDOperation           TXT "resources\TableActionDOperation.txt"
TableActionDPatchVars           TXT "resources\TableActionDPatchVars.txt"
TableActionDGRMOperation        TXT "resources\TableActionDGRMOperation.txt"
TableAction12Font               TXT "resources\TableAction12Font.txt"

